[Unit]
Description=Sincronizacao diaria do certificado do PABX

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
